<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8"/><title>Formulário Departamento</title><link rel="stylesheet" th:href="@{/css/style.css}" /></head>
<body>
  <header>
    <div class="container"><h2>Departamento</h2></div>
  </header>
  <div class="container">
    <h3 th:text="${departamento.id} != null ? 'Editar Departamento' : 'Novo Departamento'">Form</h3>
    <form th:action="@{/mvc/departamentos/salvar}" th:object="${departamento}" method="post">
      <input type="hidden" th:field="*{id}"/>
      <div>
        <label>Nome:</label>
        <input th:field="*{nome}" />
      </div>
      <div>
        <label>Localização:</label>
        <input th:field="*{localizacao}" />
      </div>
      <button type="submit">Salvar</button>
    </form>
    <p><a th:href="@{/mvc/departamentos}">Voltar</a></p>
  </div>
</body>
</html>
